<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot_son.mapper.UserMapper">

	<!-- 手机用户注册 -->
	<insert id="registerPhone"
		parameterType="com.example.springboot_son.entity.User">

	insert INTO `user` (user_name,user_password,user_token,phone_model,picture_url,data_time,user_sex,user_phone)
	VALUES(#{user_name},#{user_password},#{user_token},#{phone_model},#{picture_url},#{data_time},#{user_sex},#{user_phone})

	</insert>
<!--检查用户名是否存在-->
    <select id="checkRegisterPhone"
            resultType="com.example.springboot_son.entity.User" >
      select * from `user`   WHERE user_phone=#{user_phone}
  </select>
    <!--查询用户-->
    <select id="queryUers"
            resultType="com.example.springboot_son.entity.User" >
      select * from `user`   WHERE user_id=#{user_id}
  </select>

<!--手机用户登入-->
    <select id="phoneLogin"   resultType="com.example.springboot_son.entity.User" >
   SELECT * FROM `user` WHERE user_name=#{user_name} and  user_password=#{user_password}

    </select>
     <!--更新token-->
    <update id="upToken" parameterType="com.example.springboot_son.entity.User">
 UPDATE `user`
 <set>
     user_token=#{user_token}
 </set>
   <where>
       user_phone =#{user_phone}
   </where>
    </update>
      <!--修改用户资料-->
    <update id="upUser" parameterType="com.example.springboot_son.entity.User">
   UPDATE `user`
      <set>
          <if test="user_sex != null ">
              user_sex = #{user_sex},
          </if>
          <if test="picture_url != null">
              picture_url = #{picture_url},
          </if>
          <if test="user_name != null">
              user_name = #{user_name},
          </if>

      </set>
      <where>
         user_id=#{user_id}

       </where>

    </update>
    <!--修改手机号-->
<!--<update id="modifyPhone"-->
    
    

</mapper>